---
{
    "stream": {
        "$id": "job-categories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "address",
        "c_technology",
        "richTextDescription",
        "c_relatedJobs.name",
        "c_relatedJobs.slug",
        "c_relatedJobs.description"
      ],
      "filter": {
        "entityTypes": [
          "ce_jobCategory"
        ]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Category page for {{name}}.>
    {{>head}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
</head>

  <div class="container mx-auto">
    <body>
        
    {{>navbar}}

    <div class="container py-8 px-6 mx-auto">
      <div class="grid grid-cols-4">
        <div class="col-span-3 tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-2xl mb-8">Open {{c_technology}} roles near {{name}}</div>
        <div class="mt-8 mb-8 col-span-1">Address {{address}}</div>
      </div>
    </div>
    <div class="container py-8 px-6 mx-auto">
      <div class="grid grid-cols-4 divide-gray-300 gap-3 px-10">
        {{#each c_relatedJobs}}
          <div class="col-span-1 position-ent">
              <div class="container py-8 px-6 mx-auto">
                  <div>
                    <p>Position</p>
                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-2xl mb-8 hover:text-blue-900" href={{slug}}>{{name}}</a>
                  </div>
                  <div class="desc_slide">
                    <p class="mt-8 mb-8 text-l txt-description">{{description}}</p>
                  </div>
              </div>
          </div>
        {{/each}}
      </div>
    </div>
    </body> 
  </div>

{{>footer}}

</html>