---
{
    "stream": {
        "$id": "product-categories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_productCategory"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "richTextDescription",
        "c_relatedProducts.name",
        "c_relatedProducts.slug",
        "c_relatedProducts.photoGallery",
        "c_relatedProducts.brand",
        "c_relatedProducts.price",
        "c_relatedProducts.color",
        "c_relatedProducts.richTextDescription"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Category page for {{name}}.>
    {{>head}}
    {{>schema-productCategory}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="w-full">
    <div class="centered-container">
        {{>navbar}}
    </div>
		<div class="centered-container">
			<div class="grid gap-y-3">
				<div class="grid gap-y-3">
					<div class="uppercase font-bold text-gray-800 text-2xl">
						{{name}}
					</div>
					<p class="">
						{{convertRTFToHTML richTextDescription}}
					</p>
				</div>
				<div class="section grid gap-x-5 gap-y-5 sm:grid-cols-2 lg:grid-cols-3 md:gap-x-5">
					{{#each c_relatedProducts}}
						<div class="p-4 border-2 border-gray-50 rounded-xl hover:grow hover:shadow-lg">
							<a href={{slug}} class="grid gap-y-5">
								<div class="justify-self-center">
									<img class="rounded-xl object-contain sm:h-80 md:h-96" src="{{photoGallery.[0].image.url}}">
								</div>
								<div class="grid gap-y-2">
									<div class="product-grid-title">{{name}}</div>
									<div class="product-grid-subtitle">
										{{this.brand}}
									</div>
									<div class="product-grid-price">
										${{price.value}} 
									</div>
								</div>
							</a>
						</div>
					{{/each}} 
				</div>
			</div>
		</div>
    </div>
    <div class="w-full bg-gray-50">
        <div class="centered-container">
            {{>footer}}
        </div>
    </div>
</body> 
</html>