---
{
    "stream": {
        "$id": "products",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "product"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "richTextDescription",
        "name",
        "slug",
        "price",
        "color",
        "brand",
        "photoGallery"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>
        <meta name="description" content={{richTextDescription}}>
        {{>head}}
        {{>schema-product}}
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="w-full">
            {{>navbar}}
            <div class="centered-container">
                <div class="section grid gap-y-10 md:grid-cols-2 md:gap-x-10">
                    <div class="">
                        <a href={{this.image.url}}>
                            <img class="hover:grow hover:shadow-lg" src="{{photoGallery.[0].image.url}}">
                        </a> 
                    </div>
                    <div class="space-y-12">
                        <div class="grid gap-y-3">
                            <div class="product-title">
                                {{name}} 
                            </div>
                            <div class="product-subtitle">
                                {{brand}} 
                            </div>
                            <div class="product-price">
                                ${{price.value}} 
                            </div>
                            <p class="text-xl">
                                {{convertRTFToHTML richTextDescription}}
                            </p>
                            <p class="text-xl">
                                <b>Color:</b> {{color}}
                            </p>
                        </div>
                        <div class="buttons flex flex-col space-y-5 justify-center w-full px-12">
                            <button class="product-mainCTA">
                            Add to Bag
                            </button>
                            <button class="product-secondaryCTA">
                            Favorite
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-gray-50">
            <div class="centered-container">
                {{>footer}}
            </div>
        </div>
    </body> 

</html>